.fruit-item {
  border: 1px solid black;
  padding: 0.5rem 2rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  background-color: white;
}
.fruit-item:hover {
  cursor: grab;
}
.fruit-item:active {
  cursor: grabbing;
}
